body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-box{
  display: flex;
  align-items: flex-start;
}
.canvas{
  margin: 0 50px;
}
.canvas-box{
  position: relative;

}
.canvas-cutline{
  position: absolute;
  box-sizing:border-box;
  width: 600px;
  height: 600px;
  left: 50px;
  top: 0;
  padding: 10px;
  border: 1px green solid;
  background-color: pink;
}
.right-tool{
  
}